In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.model_selection import GridSearchCV

# predict if a person would be satisfied with flight 
data -> `https://www.kaggle.com/datasets/teejmahal20/airline-passenger-satisfaction`

In [2]:
data= pd.read_csv('flight_L.csv')
data

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [3]:
for i in data['Class']:
    if(i=='Business'):
        data['Class'].replace(i, 1, inplace=True)
    elif(i=='Eco'):
        data['Class'].replace(i, 2, inplace=True)
    elif(i=='Eco Plus'):
        data['Class'].replace(i, 3, inplace=True)
        
for i in data['Customer Type']:
    if(i=='Loyal Customer'):
        data['Customer Type'].replace(i, 1, inplace=True)
    elif(i=='disloyal Customer'):
        data['Customer Type'].replace(i, 0, inplace=True)

for i in data['Type of Travel']:
    if(i=='Personal Travel'):
        data['Type of Travel'].replace(i, 0, inplace=True)
    elif(i=='Business travel'):
        data['Type of Travel'].replace(i, 1, inplace=True)
        
for i in data['Gender']:
    if(i=='Male'):
        data['Gender'].replace(i, 1, inplace=True)
    elif(i=='Female'):
        data['Gender'].replace(i, 2, inplace=True)
        
for i in data['satisfaction']:
    if(i=='neutral or dissatisfied'):
        data['satisfaction'].replace(i, 0, inplace=True)
    elif(i=='satisfied'):
        data['satisfaction'].replace(i, 1, inplace=True)

In [4]:
data.drop(columns=['Unnamed: 0','id'],inplace=True)
data.dropna(inplace=True)
data

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,1,1,13,0,3,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,0
1,1,0,25,1,1,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,0
2,2,1,26,1,1,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,2,1,25,1,1,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,1,1,61,1,1,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,2,0,23,1,2,192,2,1,2,3,...,2,3,1,4,2,3,2,3,0.0,0
103900,1,1,49,1,1,2347,4,4,4,4,...,5,5,5,5,5,5,4,0,0.0,1
103901,1,0,30,1,1,1995,1,1,1,3,...,4,3,2,4,5,5,4,7,14.0,0
103902,2,0,22,1,2,1000,1,1,1,5,...,1,4,5,1,5,4,1,0,0.0,0
103903,1,1,27,1,1,1723,1,3,3,3,...,1,1,1,4,4,3,1,0,0.0,0

In [5]:
X=data.drop(columns=['satisfaction'])
y=data['satisfaction']
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=.2)
params = {'n_estimators': [50, 100,500,1000],
                'max_depth': [None,10],
                'min_samples_split': [2,8],
                'min_samples_leaf': [1],
                'max_features': ['log2','sqrt'],}

gs_clf = GridSearchCV(estimator=RandomForestClassifier(n_jobs=-1),param_grid=params,cv=5,verbose=2,n_jobs=-1)

gs_clf.fit(x_train,y_train)
y_preds =gs_clf.predict(x_test)
gs_clf.score(x_test,y_test)

Fitting 5 folds for each of 32 candidates, totalling 160 fits

In [ ]:
# # from joblib import dump
# dump(gs_clf,'flight_sat.joblib')